In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from matplotlib import pyplot as plt

In [2]:
urla = input(("Enter url : "))
# "https://www.twinmotorsflinflon.ca/vehicles/?fn=&pr=&mk=&md=&tr=&bs=&od=&yr=&v1=Passenger%20Vehicles&view=grid"

In [3]:
driver=webdriver.Firefox(executable_path="C:/Users/DELL/Downloads/geckodriver.exe")
#set the value of executable path
driver.get(urla)

In [4]:
page_source=driver.page_source

In [5]:
#parsing the page
soup=BeautifulSoup(page_source,'html.parser')

In [7]:
#All the data present in a page is present in class row grid-row
data=soup.findAll('div',{"class":"row grid-row"})
#printing the extracted data of a single page
for info in data:
    print(info.text)

    Save Vehicle  Set Price Alerts    Stock #: 200281BD 2014 Nissan Rogue SL 4WD    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $15,975  Initial Price  $16,934    Savings  $-959     Dealer Price  $15,975  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $146
										/bw
									  Click to open payment calculator
									6.99% for 60 Months								    Kilometres: 125,254
				View More Details
			   Compare     Compare      Save Vehicle  Set Price Alerts    Stock #: 200390AP 2011 GMC ACADIA SLT 4WD    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $12,500  Initial Price  $13,250    Savings  $-750     Dealer Price  $12,500  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $178
										/bw
									  Click to open payment calculator
									6.99% for 36 Months								    Kilometres: 148,060
				View More Details
			   Compare     Compare      Save Vehicle  Set Price Alerts    Stock #: U200146AD 2015 Ram 1500 LONGHORN 4X4    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $33,925  Initial Price  $35,961    Savings  $-2,036     Dealer Price  $33,925  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $236
										/bw
									  Click to open payment calculator
									6.99% for 84 Months								    Kilometres: 106,778
				View More Details
			   Compare     Compare      Save Vehicle  Set Price Alerts    Stock #: U3628 2015 Dodge CHALLENGER R/T RWD    View Pre-Owned Certification					  Pre-Owned Certification          Contact Us For Price   Kilometres: 19,688
				View More Details
			   Compare     Compare      Save Vehicle  Set Price Alerts    Stock #: 200002 2020 Ram 1500 TRADESMAN 4X4    View Pre-Owned Certification					  Pre-Owned Certification        Dealer Price  $51,685
									+ Tax								  Est. Finance Payment  $124
										/wk
									  Click to open payment calculator
									0% for 96 Months
				View More Details
			   Compare     Compare      Save Vehicle  Set Price Alerts    Stock #: 190823AP 2014 Chevrolet SILVERADO 1500 WORK TRUCK W/2W...    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $24,655  Initial Price  $26,134    Savings  $-1,479     Dealer Price  $24,655  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $225
										/bw
									  Click to open payment calculator
									6.99% for 60 Months								    Kilometres: 49,489
				View More Details
			   Compare     Compare      Save Vehicle  Set Price Alerts    Stock #: R19165BR 2016 Chevrolet Silverado 1500 LTZ 4X4    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $36,988  Initial Price  $39,207    Savings  $-2,219     Dealer Price  $36,988  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $257
										/bw
									  Click to open payment calculator
									6.99% for 84 Months								    Kilometres: 82,641
				View More Details
			   Compare     Compare
					Fully Customized TM Edition!!
				  Save Vehicle  Set Price Alerts    Stock #: 200027 2020 Jeep Gladiator OVERLAND 4X4    View Pre-Owned Certification					  Pre-Owned Certification        Dealer Price  $65,464  Initial Price  $68,909    Savings  $-3,445     Dealer Price  $65,464  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $177
										/wk
									  Click to open payment calculator
									2.99% for 96 Months
				View More Details
			   Compare     Compare
					10 Ply Off-road Tires/Rear seat-mounted DVD/ 2 sets of tires!
				  Save Vehicle  Set Price Alerts    Stock #: B9032 2016 Ford TRANSIT WAGON XLT RWD    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $21,500  Initial Price  $26,378    Savings  $-4,878     Dealer Price  $21,500  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $150
										/bw
									  Click to open payment calculator
									6.99% for 84 Months								    Kilometres: 127,702
				View More Details
			   Compare     Compare      Save Vehicle  Set Price Alerts    Stock #: U3594 2014 Ram 1500 SLT 4X4    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $23,500  Initial Price  $27,558    Savings  $-4,058     Dealer Price  $23,500  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $214
										/bw
									  Click to open payment calculator
									6.99% for 60 Months								    Kilometres: 82,374
				View More Details
			   Compare     Compare      Save Vehicle  Set Price Alerts    Stock #: 200087 2020 Ram 1500 BIG HORN 4X4    View Pre-Owned Certification					  Pre-Owned Certification        Dealer Price  $61,350
									+ Tax								  Est. Finance Payment  $147
										/wk
									  Click to open payment calculator
									0% for 96 Months
				View More Details
			   Compare     Compare
					Lifted w/ 35" Toyo RT Tires on Fuel Wheels!
				  Save Vehicle  Set Price Alerts    Stock #: 200041 2020 Jeep Gladiator SPORT S 4X4    View Pre-Owned Certification					  Pre-Owned Certification        Dealer Price  $54,416  Initial Price  $57,280    Savings  $-2,864     Dealer Price  $54,416  Pricing excludes licensing and tax.
									+ Tax								  Est. Finance Payment  $147
										/wk
									  Click to open payment calculator
									2.99% for 96 Months
				View More Details
			   Compare     Compare

In [8]:
#Finding the titles of cars using find_all
#All the titles are present in h4 class : vehicle-card__title
car_titles = []
a=soup.findAll('h4',{"class":"vehicle-card__title"})
for i in a :
    print(i.text)#printing titles
    car_titles.append(i.text)#appending values
print(car_titles)#printing titles
len(car_titles)#printing length of list

2014 Nissan Rogue SL 4WD
2011 GMC ACADIA SLT 4WD
2015 Ram 1500 LONGHORN 4X4
2015 Dodge CHALLENGER R/T RWD
2020 Ram 1500 TRADESMAN 4X4
2014 Chevrolet SILVERADO 1500 WORK TRUCK W/2W...
2016 Chevrolet Silverado 1500 LTZ 4X4
2020 Jeep Gladiator OVERLAND 4X4
2016 Ford TRANSIT WAGON XLT RWD
2014 Ram 1500 SLT 4X4
2020 Ram 1500 BIG HORN 4X4
2020 Jeep Gladiator SPORT S 4X4
['2014 Nissan Rogue SL 4WD', '2011 GMC ACADIA SLT 4WD', '2015 Ram 1500 LONGHORN 4X4', '2015 Dodge CHALLENGER R/T RWD', '2020 Ram 1500 TRADESMAN 4X4', '2014 Chevrolet SILVERADO 1500 WORK TRUCK W/2W...', '2016 Chevrolet Silverado 1500 LTZ 4X4', '2020 Jeep Gladiator OVERLAND 4X4', '2016 Ford TRANSIT WAGON XLT RWD', '2014 Ram 1500 SLT 4X4', '2020 Ram 1500 BIG HORN 4X4', '2020 Jeep Gladiator SPORT S 4X4']

12

In [9]:
#Finding the mileage of cars using find_all
#All the mileage are present in span class : detailed-specs__value
car_mileage = []
a=soup.findAll('span',{"class":"detailed-specs__value"})
for i in a :
    print(i.text)#printing mileage
    car_mileage.append(i.text)#appending values
print(car_mileage)#printing mileage
len(car_mileage)#printing length of list

125,254
148,060
106,778
19,688
49,489
82,641
127,702
82,374
['125,254', '148,060', '106,778', '19,688', '49,489', '82,641', '127,702', '82,374']

8

In [10]:
#Finding the stock of cars using find_all
#All the stock are present in p class : vehicle-card__stock
stock = []
a=soup.findAll('p',{"class":"vehicle-card__stock"})
for i in a :
    print(i.text)#printing stock
    stock.append(i.text.replace("Stock #:",""))#appending values
print(stock)#printing stock
len(stock)#printing length of list

Stock #: 200281BD
Stock #: 200390AP
Stock #: U200146AD
Stock #: U3628
Stock #: 200002
Stock #: 190823AP
Stock #: R19165BR
Stock #: 200027
Stock #: B9032
Stock #: U3594
Stock #: 200087
Stock #: 200041
[' 200281BD', ' 200390AP', ' U200146AD', ' U3628', ' 200002', ' 190823AP', ' R19165BR', ' 200027', ' B9032', ' U3594', ' 200087', ' 200041']

12

In [11]:
#Finding the finance payment of cars using find_all
#All the  finance payment  are present in div class : price-block__price price-block__price--sm price-block__price----primary
fn_price = []
c = soup.findAll('div',{"class":"price-block__price price-block__price--sm price-block__price--primary"})
for i in c :
    sp=i.find('span',{"class":"df aifs"})   #digging further
    print(sp.text)#printing finance payment 
    fn_price.append(sp.text)#appending in a list
print(fn_price)#printing list
len(fn_price)#length of list

$146
$178
$236
$124
$225
$257
$177
$150
$214
$147
$147
['$146', '$178', '$236', '$124', '$225', '$257', '$177', '$150', '$214', '$147', '$147']

11

In [12]:
duration = [] #taking empty list
c = soup.findAll('div',{"class":"vehicle-card__price-wrap vehicle-card__price-wrap--finance"}) #all the duration are inside div class vehicle-card__price-wrap vehicle-card__price-wrap--finance
for i in c :
    s = i.find('span',{"class":"price-block__sub"}) #digging further
    print(s.text.strip())
    duration.append(s.text.strip()) #appending in list
print(duration) #prinitng list
len(duration) #length of list

6.99% for 60 Months
6.99% for 36 Months
6.99% for 84 Months
0% for 96 Months
6.99% for 60 Months
6.99% for 84 Months
2.99% for 96 Months
6.99% for 84 Months
6.99% for 60 Months
0% for 96 Months
2.99% for 96 Months
['6.99% for 60 Months', '6.99% for 36 Months', '6.99% for 84 Months', '0% for 96 Months', '6.99% for 60 Months', '6.99% for 84 Months', '2.99% for 96 Months', '6.99% for 84 Months', '6.99% for 60 Months', '0% for 96 Months', '2.99% for 96 Months']

11

In [18]:
#creating dict of scrapped data
dict = {
    'Title' : car_titles,
    'Stock' : stock,
    'Mileage' : car_mileage,
    'Installment per week':fn_price,
    'Duration':duration
    
}

In [19]:
df = pd.DataFrame.from_dict(dict,orient = 'index').T
df

,Title,Stock,Mileage,Installment per week,Duration
0,2014 Nissan Rogue SL 4WD,200281BD,"125,254",$146,6.99% for 60 Months
1,2011 GMC ACADIA SLT 4WD,200390AP,"148,060",$178,6.99% for 36 Months
2,2015 Ram 1500 LONGHORN 4X4,U200146AD,"106,778",$236,6.99% for 84 Months
3,2015 Dodge CHALLENGER R/T RWD,U3628,"19,688",$124,0% for 96 Months
4,2020 Ram 1500 TRADESMAN 4X4,200002,"49,489",$225,6.99% for 60 Months
5,2014 Chevrolet SILVERADO 1500 WORK TRUCK W/2W...,190823AP,"82,641",$257,6.99% for 84 Months
6,2016 Chevrolet Silverado 1500 LTZ 4X4,R19165BR,"127,702",$177,2.99% for 96 Months
7,2020 Jeep Gladiator OVERLAND 4X4,200027,"82,374",$150,6.99% for 84 Months
8,2016 Ford TRANSIT WAGON XLT RWD,B9032,None,$214,6.99% for 60 Months
9,2014 Ram 1500 SLT 4X4,U3594,None,$147,0% for 96 Months
10,2020 Ram 1500 BIG HORN 4X4,200087,None,$147,2.99% for 96 Months
11,2020 Jeep Gladiator SPORT S 4X4,200041,None,None,None

In [20]:
#Dataframe to csv
df.to_csv('twinmotors.csv')