In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from matplotlib import pyplot as plt

In [2]:
urla = input(("Enter url : "))  
# "http://mywinnipegcars.com/#search/"

In [3]:
driver=webdriver.Firefox(executable_path="C:/Users/DELL/Downloads/geckodriver.exe")
#set the value of executable path
driver.get(urla)

In [4]:
page_source=driver.page_source

In [5]:
#parsing the page
soup=BeautifulSoup(page_source,'html.parser')

In [6]:
#All the data present in a page is present in class detail-page-content hideOnSearch
data=soup.findAll('div',{"class":"detail-page-content hideOnSearch"})
#printing the extracted data of a single page
for info in data:
    print(info.text)

2006 2006 Volkswagen Beetle
2006 | $7,995 | 105,000 Kilometers
105,000 Kilometers
 |  Automatic
							| 5 Cylinders | $1250 Down
$7,995









2016 2016 Dodge Journey CVP
2016 | $17,995 | 60,000 Kilometers
60,000 Kilometers
Sport Utilities |  Automatic
							|  Cylinders | $NA  Down
$17,995









2016 2016 Chevrolet Cruze LT
2016 | $11,995 | 145,000 Kilometers
145,000 Kilometers
Sedans and Coupes |  Automatic
							|  Cylinders | $6000 Down
$11,995









2010 2010 Chevrolet Impala LT
2010 | $8,995 | 173,000 Kilometers
173,000 Kilometers
Sedans and Coupes |  Automatic
							|  Cylinders | $1750 Down
$8,995









2005 2005 Ford F150
2005 | $7,995 | 243,000 Kilometers
243,000 Kilometers
Pickup Trucks |  Automatic
							|  Cylinders | $1500 Down
$7,995









2008 2008 Jeep Compass Sport 5 SPD
2008 | $7,995 | 150,000 Kilometers
150,000 Kilometers
Sport Utilities |  Manual
							|  Cylinders | $1000 Down
$7,995









2014 2014 Smart For Two
2014 | $8,995 | 57,000 Kilometers
57,000 Kilometers
Sedans and Coupes |  Automatic
							|  Cylinders | $1250 Down
$8,995









2009 2009 Chevy Equinox LX
2009 | $8,450 | 84,000 Kilometers
84,000 Kilometers
Sport Utilities |  Automatic
							|  Cylinders | $2000 Down
$8,450









2012 2012 Chevrolet Orlando
2012 | $11,995 | 143,000 Kilometers
143,000 Kilometers
Sport Utilities |  Automatic
							|  Cylinders | $2500 Down
$11,995









2005 2005 BMW 3 Series AWD
2005 | $8,995 | 195,000 Kilometers
195,000 Kilometers
Sedans and Coupes |  Automatic
							|  Cylinders | $2000 Down
$8,995









2007 2007 Dodge Charger SXT
2007 | $5,995 | 215,000 Kilometers
215,000 Kilometers
Sedans and Coupes |  Automatic
							|  Cylinders | $1000 Down
$5,995









2010 2010 Jeep Compass 4x4
2010 | $10,995 | 159,000 Kilometers
159,000 Kilometers
4WD/AWD |  Automatic
							|  Cylinders | $2000 Down
$10,995







BACK TO TOP

123

In [7]:
#Finding the titles of cars using find_all
#All the titles are present in p class : vehicle-name
car_titles = []#taking an empty list
a=soup.findAll('p',{"class":"vehicle-name"})
for i in a :
    print(i.text)#printing titles
    car_titles.append(i.text)#appending values
print(car_titles)#printing titles
len(car_titles)#printing length of list

2006 2006 Volkswagen Beetle
2016 2016 Dodge Journey CVP
2016 2016 Chevrolet Cruze LT
2010 2010 Chevrolet Impala LT
2005 2005 Ford F150
2008 2008 Jeep Compass Sport 5 SPD
2014 2014 Smart For Two
2009 2009 Chevy Equinox LX
2012 2012 Chevrolet Orlando
2005 2005 BMW 3 Series AWD
2007 2007 Dodge Charger SXT
2010 2010 Jeep Compass 4x4
['2006 2006 Volkswagen Beetle', '2016 2016 Dodge Journey CVP', '2016 2016 Chevrolet Cruze LT', '2010 2010 Chevrolet Impala LT', '2005 2005 Ford F150', '2008 2008 Jeep Compass Sport 5 SPD', '2014 2014 Smart For Two', '2009 2009 Chevy Equinox LX', '2012 2012 Chevrolet Orlando', '2005 2005 BMW 3 Series AWD', '2007 2007 Dodge Charger SXT', '2010 2010 Jeep Compass 4x4']

12

In [8]:
#Finding the mileage of cars using find_all
#All the mileage are present in p class : vehicle-miles show-for-medium-up hide-for-small
car_mileage = []#taking an empty list
a=soup.findAll('p',{"class":"vehicle-miles show-for-medium-up hide-for-small"})
for i in a :
    print(i.text)#printing mileage
    car_mileage.append(i.text)#appending values
print(car_mileage)#printing mileage
len(car_mileage)#printing length of list

105,000 Kilometers
60,000 Kilometers
145,000 Kilometers
173,000 Kilometers
243,000 Kilometers
150,000 Kilometers
57,000 Kilometers
84,000 Kilometers
143,000 Kilometers
195,000 Kilometers
215,000 Kilometers
159,000 Kilometers
['105,000 Kilometers', '60,000 Kilometers', '145,000 Kilometers', '173,000 Kilometers', '243,000 Kilometers', '150,000 Kilometers', '57,000 Kilometers', '84,000 Kilometers', '143,000 Kilometers', '195,000 Kilometers', '215,000 Kilometers', '159,000 Kilometers']

12

In [15]:
#Finding the price of cars using find_all
#All the price are present in p class : result-price show-for-medium-up hide-for-small
car_price = []
a=soup.findAll('p',{"class":"result-price show-for-medium-up hide-for-small"})
for i in a :
    print(i.text)#printing price
    car_price.append(i.text.replace("\t\t\t\t\t\t\t",""))#appending values
print(car_price)#printing price
len(car_price)#printing length of list

$7,995
$17,995
$11,995
$8,995
$7,995
$7,995
$8,995
$8,450
$11,995
$8,995
$5,995
$10,995
['$7,995', '$17,995', '$11,995', '$8,995', '$7,995', '$7,995', '$8,995', '$8,450', '$11,995', '$8,995', '$5,995', '$10,995']

12

In [16]:
#Finding the savings using find_all
#All the savings are present in span class : vmini-hide
savings = []
a=soup.findAll('span',{"class":"mini-hide"})
for i in a :
    if 'Down' in i.text:
        savings.append(i.text.replace("Down",""))#appending values
print(savings)#printing savings
len(savings)#printing length of list

['$1250 ', '$NA  ', '$6000 ', '$1750 ', '$1500 ', '$1000 ', '$1250 ', '$2000 ', '$2500 ', '$2000 ', '$1000 ', '$2000 ']

12

In [17]:
#Finding the details of cars using find_all
#All the details  are present in div class : vehicle-secondary-info
car_details = []
a=soup.findAll('p',{"class":"vehicle-secondary-info"})
for i in a :
    print(i.text)#printing details
    car_details.append(i.text.replace("\t\t\t\t\t\t\t \n\t\t\t\t\t\t\t","").strip())#appending values
print(car_details)#printing details
len(car_details)#printing length of list

 |  Automatic
							| 5 Cylinders | $1250 Down
Sport Utilities |  Automatic
							|  Cylinders | $NA  Down
Sedans and Coupes |  Automatic
							|  Cylinders | $6000 Down
Sedans and Coupes |  Automatic
							|  Cylinders | $1750 Down
Pickup Trucks |  Automatic
							|  Cylinders | $1500 Down
Sport Utilities |  Manual
							|  Cylinders | $1000 Down
Sedans and Coupes |  Automatic
							|  Cylinders | $1250 Down
Sport Utilities |  Automatic
							|  Cylinders | $2000 Down
Sport Utilities |  Automatic
							|  Cylinders | $2500 Down
Sedans and Coupes |  Automatic
							|  Cylinders | $2000 Down
Sedans and Coupes |  Automatic
							|  Cylinders | $1000 Down
4WD/AWD |  Automatic
							|  Cylinders | $2000 Down
['|  Automatic| 5 Cylinders | $1250 Down', 'Sport Utilities |  Automatic|  Cylinders | $NA  Down', 'Sedans and Coupes |  Automatic|  Cylinders | $6000 Down', 'Sedans and Coupes |  Automatic|  Cylinders | $1750 Down', 'Pickup Trucks |  Automatic|  Cylinders | $1500 Down', 'Sport Utilities |  Manual|  Cylinders | $1000 Down', 'Sedans and Coupes |  Automatic|  Cylinders | $1250 Down', 'Sport Utilities |  Automatic|  Cylinders | $2000 Down', 'Sport Utilities |  Automatic|  Cylinders | $2500 Down', 'Sedans and Coupes |  Automatic|  Cylinders | $2000 Down', 'Sedans and Coupes |  Automatic|  Cylinders | $1000 Down', '4WD/AWD |  Automatic|  Cylinders | $2000 Down']

12

In [18]:
#creating dict of scrapped data
dict = {
    'Title' : car_titles,
    'Price' : car_price,
    'Mileage':car_mileage,
    'Savings':savings,
    'Details' : car_details
}

In [19]:
df = pd.DataFrame.from_dict(dict,orient = 'index').T
df

,Title,Price,Mileage,Savings,Details
0,2006 2006 Volkswagen Beetle,"$7,995","105,000 Kilometers",$1250,| Automatic| 5 Cylinders | $1250 Down
1,2016 2016 Dodge Journey CVP,"$17,995","60,000 Kilometers",$NA,Sport Utilities | Automatic| Cylinders | $NA...
2,2016 2016 Chevrolet Cruze LT,"$11,995","145,000 Kilometers",$6000,Sedans and Coupes | Automatic| Cylinders | $...
3,2010 2010 Chevrolet Impala LT,"$8,995","173,000 Kilometers",$1750,Sedans and Coupes | Automatic| Cylinders | $...
4,2005 2005 Ford F150,"$7,995","243,000 Kilometers",$1500,Pickup Trucks | Automatic| Cylinders | $1500...
5,2008 2008 Jeep Compass Sport 5 SPD,"$7,995","150,000 Kilometers",$1000,Sport Utilities | Manual| Cylinders | $1000 ...
6,2014 2014 Smart For Two,"$8,995","57,000 Kilometers",$1250,Sedans and Coupes | Automatic| Cylinders | $...
7,2009 2009 Chevy Equinox LX,"$8,450","84,000 Kilometers",$2000,Sport Utilities | Automatic| Cylinders | $20...
8,2012 2012 Chevrolet Orlando,"$11,995","143,000 Kilometers",$2500,Sport Utilities | Automatic| Cylinders | $25...
9,2005 2005 BMW 3 Series AWD,"$8,995","195,000 Kilometers",$2000,Sedans and Coupes | Automatic| Cylinders | $...
10,2007 2007 Dodge Charger SXT,"$5,995","215,000 Kilometers",$1000,Sedans and Coupes | Automatic| Cylinders | $...
11,2010 2010 Jeep Compass 4x4,"$10,995","159,000 Kilometers",$2000,4WD/AWD | Automatic| Cylinders | $2000 Down

In [20]:
#Dataframe to csv
df.to_csv('mywinniepegcars.csv')