In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from matplotlib import pyplot as plt

In [2]:
urla = "https://www.autogalleryofwinnipeg.com/vehicles/used/?st=asking_price,asc&sc=used"

In [3]:
driver=webdriver.Firefox(executable_path="C:/Users/DELL/Downloads/geckodriver.exe")
#set the value of executable path
driver.get(urla)

In [4]:
page_source=driver.page_source

In [5]:
#parsing the page
soup=BeautifulSoup(page_source,'html.parser')

In [6]:
#All the data present in a page is present in class : mb-lg list-view col-lg-12
data=soup.findAll('div',{"class":"mb-lg list-view col-lg-12"})
#printing the extracted data of a single page
for info in data:
    print(info.text)

      Save This Car  Get Price Alerts       2007 Chrysler PT Cruiser Hatchback* 4Door   Stock #: 24545VIN: 3A4FY48B57T540399Kilometres: 94,295Condition: UsedBody Style: Hatchback      Dealer Price  $4,995  Pricing excludes licensing and tax.
									+ Tax
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2010 Dodge Journey SE *Local trade/AT/4cyl*   Stock #: 24004aVIN: 3D4PG4FB5AT217433Kilometres: 99,500Condition: UsedBody Style: SUV      Dealer Price  $7,993  Pricing excludes licensing and tax.
									+ Tax
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2012 GMC Acadia AWD 4dr SLE1   Stock #: 23860AVIN: 1GKKVNED6CJ181904Kilometres: 212,181Condition: UsedBody Style: SUV      Dealer Price  $9,996  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $110
										/bw
									  Click to open payment calculator
									6.99% for 48 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2016 Volkswagen Jetta Sedan Trendline* B.cam/B.tooth/Htd seats   Stock #: 24677VIN: 3VW267AJ0GM239026Kilometres: 113,816Condition: UsedBody Style: Sedan      Dealer Price  $11,649  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $89
										/bw
									  Click to open payment calculator
									5.99% for 72 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2015 Kia Forte Koup EX* B.cam/B.tooth,Hts seats, Roof   Stock #: 24687VIN: KNAFX6A82F5277786Kilometres: 47,986Condition: UsedBody Style: Coupe      Dealer Price  $11,988  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $107
										/bw
									  Click to open payment calculator
									5.99% for 60 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2016 Kia Soul LX* AT/B.tooth   Stock #: 24559VIN: KNDJN2A2XG7864394Kilometres: 33,403Condition: UsedBody Style: Hatchback      Dealer Price  $12,992  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $99
										/bw
									  Click to open payment calculator
									5.99% for 72 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2016 Dodge Journey FWD 4dr Canada Value Pkg   Stock #: 24431VIN: 3C4PDCAB7GT248912Kilometres: 10,788Condition: UsedBody Style: SUV      Dealer Price  $14,897  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $114
										/bw
									  Click to open payment calculator
									5.99% for 72 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2013 Nissan Juke SV* Awd/AT/B.tooth   Stock #: 24294aVIN: JN8AF5MV7DT219262Kilometres: 58,355Condition: UsedBody Style: Wagon      Dealer Price  $14,988  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $134
										/bw
									  Click to open payment calculator
									5.99% for 60 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2016 Dodge Journey SE* B.tooth/AT/5pass   Stock #: 24621VIN: 3C4PDCAB0GT219705Kilometres: 26,654Condition: UsedBody Style: SUV      Dealer Price  $14,997  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $115
										/bw
									  Click to open payment calculator
									5.99% for 72 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2020 Chevrolet Spark 1LT* B.cam/B.tooth/AT   Stock #: 24557VIN: KL8CD6SA4LC409429Kilometres: 20,793Condition: UsedBody Style: Hatchback      Dealer Price  $15,893  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $107
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2019 Hyundai Accent Preferred* B.tooth/B.cam/Htd seats/H.back   Stock #: 24647VIN: 3KPC25A37KE043273Kilometres: 39,484Condition: UsedBody Style: Hatchback      Dealer Price  $15,950  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $107
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2019 Hyundai Elantra GT GT* B.tooth/B.cam/Htd seats   Stock #: 24648VIN: KMHH35LE1KU089423Kilometres: 40,364Condition: UsedBody Style: Hatchback      Dealer Price  $16,998  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $114
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2019 Hyundai Elantra Preferred* B.cam/B.tooth/Htd seats   Stock #: 24623VIN: KMHD84LF0KU836416Kilometres: 20,547Condition: UsedBody Style: Sedan      Dealer Price  $16,998  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $114
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2019 Hyundai Elantra Preferred* B.cam/B.tooth/Htd seats   Stock #: 24625VIN: KMHD84LF2KU856134Kilometres: 30,299Condition: UsedBody Style: Sedan      Dealer Price  $16,998  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $114
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
						View Details
					  Compare
			View Details
		  Compare
      Save This Car  Get Price Alerts       2015 Chevrolet Equinox LT* Awd/Htd seats/B.cam   Stock #: 24644VIN: 2GNFLFEK5F6363612Kilometres: 50,962Condition: UsedBody Style: SUV      Dealer Price  $17,997  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $160
										/bw
									  Click to open payment calculator
									5.99% for 60 Months
						View Details
					  Compare
			View Details
		  Compare

In [7]:
#Finding the titles of cars using find_all
#All the titles are present in div class : vehicle-card__full-details
a = soup.find_all("div",{"class" :"vehicle-card__full-details"})
car_titles = []#taking an empty list

#printing all the separate titles using for loop
for i in a:
    title = i.find('h3',{"class":"vehicle-card__title mb-xs"}).text #digging down for titles
    print(title)# printing values
    car_titles.append(title)  #appending values in a separate empty list
print(car_titles)#printing car titles list
len(car_titles)#length of car titles list

2007 Chrysler PT Cruiser Hatchback* 4Door
2010 Dodge Journey SE *Local trade/AT/4cyl*
2012 GMC Acadia AWD 4dr SLE1
2016 Volkswagen Jetta Sedan Trendline* B.cam/B.tooth/Htd seats
2015 Kia Forte Koup EX* B.cam/B.tooth,Hts seats, Roof
2016 Kia Soul LX* AT/B.tooth
2016 Dodge Journey FWD 4dr Canada Value Pkg
2013 Nissan Juke SV* Awd/AT/B.tooth
2016 Dodge Journey SE* B.tooth/AT/5pass
2020 Chevrolet Spark 1LT* B.cam/B.tooth/AT
2019 Hyundai Accent Preferred* B.tooth/B.cam/Htd seats/H.back
2019 Hyundai Elantra GT GT* B.tooth/B.cam/Htd seats
2019 Hyundai Elantra Preferred* B.cam/B.tooth/Htd seats
2019 Hyundai Elantra Preferred* B.cam/B.tooth/Htd seats
2015 Chevrolet Equinox LT* Awd/Htd seats/B.cam
['2007 Chrysler PT Cruiser Hatchback* 4Door', '2010 Dodge Journey SE *Local trade/AT/4cyl*', '2012 GMC Acadia AWD 4dr SLE1', '2016 Volkswagen Jetta Sedan Trendline* B.cam/B.tooth/Htd seats', '2015 Kia Forte Koup EX* B.cam/B.tooth,Hts seats, Roof', '2016 Kia Soul LX* AT/B.tooth', '2016 Dodge Journey FWD 4dr Canada Value Pkg', '2013 Nissan Juke SV* Awd/AT/B.tooth', '2016 Dodge Journey SE* B.tooth/AT/5pass', '2020 Chevrolet Spark 1LT* B.cam/B.tooth/AT', '2019 Hyundai Accent Preferred* B.tooth/B.cam/Htd seats/H.back', '2019 Hyundai Elantra GT GT* B.tooth/B.cam/Htd seats', '2019 Hyundai Elantra Preferred* B.cam/B.tooth/Htd seats', '2019 Hyundai Elantra Preferred* B.cam/B.tooth/Htd seats', '2015 Chevrolet Equinox LT* Awd/Htd seats/B.cam']

15

In [8]:
vin = []
mileage = []
condition = []
body_style = []
stock = []
# taking empty lists


spec= soup.find_all("ul",{"class": "detailed-specs"}) #All the specifications are inside ul class: detailed-specs 

for i in spec:
    newsoup = BeautifulSoup(str(i),'html.parser')#using parser for scrapping inside details
    lis = newsoup.find_all('li')#finding all li inside ul
    for li in lis:
        
        if 'VIN' in li.text: # if present 
            vin.append(li.text.replace("VIN:","")) # then append
        if 'Kilometres' in li.text:# if present
            mileage.append(li.text.replace("Kilometres:",""))# then append
        if 'Condition' in li.text:# if present
            condition.append(li.text.replace("Condition:",""))# then append# then append
        if 'Body Style' in li.text:# if present
            body_style.append(li.text.replace("Body Style:",""))# then append
        if 'Stock' in li.text:# if present
            stock.append(li.text.replace("Stock #:",""))#then append
            
#priniting individual lists
print(vin)
print(mileage)
print(condition)
print(body_style)
print(stock)

[' 3A4FY48B57T540399', ' 3D4PG4FB5AT217433', ' 1GKKVNED6CJ181904', ' 3VW267AJ0GM239026', ' KNAFX6A82F5277786', ' KNDJN2A2XG7864394', ' 3C4PDCAB7GT248912', ' JN8AF5MV7DT219262', ' 3C4PDCAB0GT219705', ' KL8CD6SA4LC409429', ' 3KPC25A37KE043273', ' KMHH35LE1KU089423', ' KMHD84LF0KU836416', ' KMHD84LF2KU856134', ' 2GNFLFEK5F6363612']
[' 94,295', ' 99,500', ' 212,181', ' 113,816', ' 47,986', ' 33,403', ' 10,788', ' 58,355', ' 26,654', ' 20,793', ' 39,484', ' 40,364', ' 20,547', ' 30,299', ' 50,962']
[' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used', ' Used']
[' Hatchback', ' SUV', ' SUV', ' Sedan', ' Coupe', ' Hatchback', ' SUV', ' Wagon', ' SUV', ' Hatchback', ' Hatchback', ' Hatchback', ' Sedan', ' Sedan', ' SUV']
[' 24545', ' 24004a', ' 23860A', ' 24677', ' 24687', ' 24559', ' 24431', ' 24294a', ' 24621', ' 24557', ' 24647', ' 24648', ' 24623', ' 24625', ' 24644']

In [9]:
#Finding the prices of cars using find_all
#All the prices are present in div class : vehicle-card__price-wrap
car_price = []
c = soup.findAll('div',{"class":"vehicle-card__price-wrap"})
for i in c :
    sp=i.findAll('div',{"class":"price-block__price price-block__price--lg price-block__price--dark"})#digging further
    for j in sp:
        s=j.find('span',{"class":"df aifs"}).text.split("df aifs")[0]#actual values are inside span class :df aifs
        print(s)#printing prices
        car_price.append(s)#appending in a list
print(car_price)# printing list
len(car_price)# length of list

$4,995
$7,993
$9,996
$11,649
$11,988
$12,992
$14,897
$14,988
$14,997
$15,893
$15,950
$16,998
$16,998
$16,998
$17,997
['$4,995', '$7,993', '$9,996', '$11,649', '$11,988', '$12,992', '$14,897', '$14,988', '$14,997', '$15,893', '$15,950', '$16,998', '$16,998', '$16,998', '$17,997']

15

In [10]:
#Finding the discount on cars using find_all
#All the discount are present in div class : vehicle-card__price-wrap
discount = []
c = soup.findAll('div',{"class":"vehicle-card__price-wrap"})
for i in c :
    sp=i.findAll('div',{"class":"price-block__single price-block--expanded price-block__single--finance"})#digging further
    for j in sp:
        s=j.find('span',{"class":"df aifs"}).text.split("df aifs")[0]#actual values are inside span class :df aifs
        print(s)#printing prices
        discount.append(s)#appending in a list
print(discount)#printing list
len(discount)#length of list

$110
$89
$107
$99
$114
$134
$115
$107
$107
$114
$114
$114
$160
['$110', '$89', '$107', '$99', '$114', '$134', '$115', '$107', '$107', '$114', '$114', '$114', '$160']

13

In [11]:
#Finding the duration using find_all
#All the duration are present in div class : vehicle-card__price-wrap
duration = []
c = soup.findAll('div',{"class":"vehicle-card__price-wrap"})
for i in c :
    sp=i.findAll('div',{"class":"price-block__single price-block--expanded price-block__single--finance"})#digging further
    for j in sp:
        s=j.find('span',{"class":"price-block__sub"}).text.replace("\t","")#actual values are inside span class :df aifs
        print(s)#printing prices
        duration.append(s.strip())#appending in a list
print(duration)#printing list
len(duration)#length of list

6.99% for 48 Months

5.99% for 72 Months

5.99% for 60 Months

5.99% for 72 Months

5.99% for 72 Months

5.99% for 60 Months

5.99% for 72 Months

5.99% for 84 Months

5.99% for 84 Months

5.99% for 84 Months

5.99% for 84 Months

5.99% for 84 Months

5.99% for 60 Months
['6.99% for 48 Months', '5.99% for 72 Months', '5.99% for 60 Months', '5.99% for 72 Months', '5.99% for 72 Months', '5.99% for 60 Months', '5.99% for 72 Months', '5.99% for 84 Months', '5.99% for 84 Months', '5.99% for 84 Months', '5.99% for 84 Months', '5.99% for 84 Months', '5.99% for 60 Months']

13

In [12]:
#creating dict of scrapped data
dict = {
    'Title' : car_titles ,
    'Mileage' : mileage , 
    'Price ': car_price ,
    'VIN' : vin ,
    'Stock' : stock ,
    'Body Style' : body_style ,
    'Condition' : condition,
    'Finanace Price per bw': discount ,
    'Finance Duration':duration
}

In [13]:
#creating dataframe from dict
df = pd.DataFrame.from_dict(dict,orient = 'index').T
df

,Title,Mileage,Price,VIN,Stock,Body Style,Condition,Finanace Price per bw,Finance Prcie Duration
0,2007 Chrysler PT Cruiser Hatchback* 4Door,"94,295","$4,995",3A4FY48B57T540399,24545,Hatchback,Used,$110,6.99% for 48 Months
1,2010 Dodge Journey SE *Local trade/AT/4cyl*,"99,500","$7,993",3D4PG4FB5AT217433,24004a,SUV,Used,$89,5.99% for 72 Months
2,2012 GMC Acadia AWD 4dr SLE1,"212,181","$9,996",1GKKVNED6CJ181904,23860A,SUV,Used,$107,5.99% for 60 Months
3,2016 Volkswagen Jetta Sedan Trendline* B.cam/B...,"113,816","$11,649",3VW267AJ0GM239026,24677,Sedan,Used,$99,5.99% for 72 Months
4,"2015 Kia Forte Koup EX* B.cam/B.tooth,Hts seat...","47,986","$11,988",KNAFX6A82F5277786,24687,Coupe,Used,$114,5.99% for 72 Months
5,2016 Kia Soul LX* AT/B.tooth,"33,403","$12,992",KNDJN2A2XG7864394,24559,Hatchback,Used,$134,5.99% for 60 Months
6,2016 Dodge Journey FWD 4dr Canada Value Pkg,"10,788","$14,897",3C4PDCAB7GT248912,24431,SUV,Used,$115,5.99% for 72 Months
7,2013 Nissan Juke SV* Awd/AT/B.tooth,"58,355","$14,988",JN8AF5MV7DT219262,24294a,Wagon,Used,$107,5.99% for 84 Months
8,2016 Dodge Journey SE* B.tooth/AT/5pass,"26,654","$14,997",3C4PDCAB0GT219705,24621,SUV,Used,$107,5.99% for 84 Months
9,2020 Chevrolet Spark 1LT* B.cam/B.tooth/AT,"20,793","$15,893",KL8CD6SA4LC409429,24557,Hatchback,Used,$114,5.99% for 84 Months
10,2019 Hyundai Accent Preferred* B.tooth/B.cam/H...,"39,484","$15,950",3KPC25A37KE043273,24647,Hatchback,Used,$114,5.99% for 84 Months
11,2019 Hyundai Elantra GT GT* B.tooth/B.cam/Htd ...,"40,364","$16,998",KMHH35LE1KU089423,24648,Hatchback,Used,$114,5.99% for 84 Months
12,2019 Hyundai Elantra Preferred* B.cam/B.tooth/...,"20,547","$16,998",KMHD84LF0KU836416,24623,Sedan,Used,$160,5.99% for 60 Months
13,2019 Hyundai Elantra Preferred* B.cam/B.tooth/...,"30,299","$16,998",KMHD84LF2KU856134,24625,Sedan,Used,None,None
14,2015 Chevrolet Equinox LT* Awd/Htd seats/B.cam,"50,962","$17,997",2GNFLFEK5F6363612,24644,SUV,Used,None,None

In [14]:
split_title = df["Title"].str.split(" ", n = 3, expand = True) 
# splitting Tile column

In [15]:
df["Make Year"]= split_title[0]

In [16]:
df["Make"]= split_title[1]

In [17]:
df["Model"]= split_title[2]

In [18]:
df.drop(columns =["Title"], inplace = True)

In [19]:
df

,Mileage,Price,VIN,Stock,Body Style,Condition,Finanace Price per bw,Finance Prcie Duration,Make Year,Make,Model
0,"94,295","$4,995",3A4FY48B57T540399,24545,Hatchback,Used,$110,6.99% for 48 Months,2007,Chrysler,PT
1,"99,500","$7,993",3D4PG4FB5AT217433,24004a,SUV,Used,$89,5.99% for 72 Months,2010,Dodge,Journey
2,"212,181","$9,996",1GKKVNED6CJ181904,23860A,SUV,Used,$107,5.99% for 60 Months,2012,GMC,Acadia
3,"113,816","$11,649",3VW267AJ0GM239026,24677,Sedan,Used,$99,5.99% for 72 Months,2016,Volkswagen,Jetta
4,"47,986","$11,988",KNAFX6A82F5277786,24687,Coupe,Used,$114,5.99% for 72 Months,2015,Kia,Forte
5,"33,403","$12,992",KNDJN2A2XG7864394,24559,Hatchback,Used,$134,5.99% for 60 Months,2016,Kia,Soul
6,"10,788","$14,897",3C4PDCAB7GT248912,24431,SUV,Used,$115,5.99% for 72 Months,2016,Dodge,Journey
7,"58,355","$14,988",JN8AF5MV7DT219262,24294a,Wagon,Used,$107,5.99% for 84 Months,2013,Nissan,Juke
8,"26,654","$14,997",3C4PDCAB0GT219705,24621,SUV,Used,$107,5.99% for 84 Months,2016,Dodge,Journey
9,"20,793","$15,893",KL8CD6SA4LC409429,24557,Hatchback,Used,$114,5.99% for 84 Months,2020,Chevrolet,Spark
10,"39,484","$15,950",3KPC25A37KE043273,24647,Hatchback,Used,$114,5.99% for 84 Months,2019,Hyundai,Accent
11,"40,364","$16,998",KMHH35LE1KU089423,24648,Hatchback,Used,$114,5.99% for 84 Months,2019,Hyundai,Elantra
12,"20,547","$16,998",KMHD84LF0KU836416,24623,Sedan,Used,$160,5.99% for 60 Months,2019,Hyundai,Elantra
13,"30,299","$16,998",KMHD84LF2KU856134,24625,Sedan,Used,None,None,2019,Hyundai,Elantra
14,"50,962","$17,997",2GNFLFEK5F6363612,24644,SUV,Used,None,None,2015,Chevrolet,Equinox

In [ ]:
#Dataframe to csv
df.to_csv('auto_gallery.csv')