In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from matplotlib import pyplot as plt

In [2]:
urla = "https://www.kijijiautos.ca/cars/"

In [3]:
driver=webdriver.Firefox(executable_path="C:/Users/DELL/Downloads/geckodriver.exe")
#set the value of executable path
driver.get(urla)

In [4]:
page_source=driver.page_source

In [5]:
#parsing the page
soup=BeautifulSoup(page_source,'html.parser')

In [6]:
#All the data present in a page is present in class _3u466m36pAjbJF3m4gZEwr
data = soup.findAll('div',{"class":"_3u466m36pAjbJF3m4gZEwr"})
#printing the extracted data of a single page
for info in data:
    print(info.text)

In [7]:
#Finding the titles of cars using find_all
#All the titles are present in span class : _3jBWYAEU6W4f4h0_uQWlSw
titles=soup.find_all("div",{"class" :"_3jBWYAEU6W4f4h0_uQWlSw"})

#taking an empty list
car_title = []
#printing all the separate titles using for loop
for title in titles:
    print(title.text)# printing values
    #appending values in a separate empty list
    car_title.append(title.text.replace("PROMOTED",''))  
print(car_title)#printing car titles list
len(car_title)#length of car titles list

PROMOTED2006 Toyota 4-Runner Sport Edition
PROMOTED2020 Chevrolet Traverse LT Cloth
1992 Chevrolet S-10 Tahoe
2007 Ford F 150
2003 Volkswagen Beetle
2014 Chrysler 200 LX
2010 GMC Sierra 1500 SLT
2013 Hyundai Elantra GT GLS
2009 Infiniti G35x
2003 Honda Pilot
PROMOTED2011 GMC Acadia SLE *MONTH-END SPECIAL*|HEATED SEATS|BKPCAM|SAT|
PROMOTED2020 Hyundai Elantra Preferred IVT
2014 Cadillac SRX
1988 Mazda RX-7 Fc
2008 Volkswagen Jetta se
It runs very good condition
2001 Toyota Sequoia
2010 Acura TSX Techno;ogy Package
2017 Tesla Model X 90D / FULL SELF DRIVING / 22" SILVER ALLOY RIMS
2018 Lexus RX
['PROMOTED2006 Toyota 4-Runner Sport Edition', 'PROMOTED2020 Chevrolet Traverse LT Cloth', '1992 Chevrolet S-10 Tahoe', '2007 Ford F 150', '2003 Volkswagen Beetle', '2014 Chrysler 200 LX', '2010 GMC Sierra 1500 SLT', '2013 Hyundai Elantra GT GLS', '2009 Infiniti G35x', '2003 Honda Pilot', 'PROMOTED2011 GMC Acadia SLE *MONTH-END SPECIAL*|HEATED SEATS|BKPCAM|SAT|', 'PROMOTED2020 Hyundai Elantra Preferred IVT', '2014 Cadillac SRX', '1988 Mazda RX-7 Fc', '2008 Volkswagen Jetta se', 'It runs very good condition', '2001 Toyota Sequoia', '2010 Acura TSX Techno;ogy Package', '2017 Tesla Model X 90D / FULL SELF DRIVING / 22" SILVER ALLOY RIMS ', '2018 Lexus RX']

20

In [8]:
#Finding the mileage of cars using find_all
#All the mileage values are present in ul class : _3037a98WwBf6dE0-m7olgt _2BwILa9sL94aNey9brV9Eb
a = soup.find_all("ul",{"class" :"_3037a98WwBf6dE0-m7olgt _2BwILa9sL94aNey9brV9Eb"})

#taking an empty list
car_mileage=[]
#printing all the separate mileage values using for loop
for i in a:
    mileage = i.find("li",{"class" :"CHKTkxN--fPPouXAdU7EV DMyxB523aaKjukBpw8RVf"}).text.split("li")[0]#all the mileage values are inside a li class
    print(mileage) # printing values
    #appending values in a separate empty list
    car_mileage.append(mileage)    
print(car_mileage) #printing car mileage list
len(car_mileage) #length of car mileage list

394,100 km
New car
250,000 km
185,000 km
187,000 km
63,777 km
290,000 km
107,000 km
248,000 km
227,357 km
195,450 km
9,428 km
140,000 km
12,500 km
184,351 km
115,600 km
400,000 km
232,000 km
58,510 km
32,606 km
['394,100\xa0km', 'New car', '250,000\xa0km', '185,000\xa0km', '187,000\xa0km', '63,777\xa0km', '290,000\xa0km', '107,000\xa0km', '248,000\xa0km', '227,357\xa0km', '195,450\xa0km', '9,428\xa0km', '140,000\xa0km', '12,500\xa0km', '184,351\xa0km', '115,600\xa0km', '400,000\xa0km', '232,000\xa0km', '58,510\xa0km', '32,606\xa0km']

20

In [9]:
#Finding the location of cars using find_all
#All the location  are present in ul class :_3037a98WwBf6dE0-m7olgt _2BwILa9sL94aNey9brV9Eb
b = soup.find_all("ul",{"class" :"_3037a98WwBf6dE0-m7olgt _2BwILa9sL94aNey9brV9Eb"})

#taking an empty list
car_location = []
#printing all the separate location values using for loop
for i in b:
    location = i.find("li",{"class" :"CHKTkxN--fPPouXAdU7EV DMyxB523aaKjukBpw8RVf _1nxETRmdJY_lgfg1uXbgn9"}).text.strip()#all the locations are inside a li class
    print(location) # printing values
    #appending values in a separate empty list
    car_location.append(location)    
print(car_location) #printing car location list
len(car_location) #length of car location list

-
North Battleford
South Central Edmonton
-
Prince George
-
Red Deer
-
-
-
North York
Napanee
-
Ledbury - Heron Gate - Ridgemont - Elmwood
-
York
-
Dovercourt
Toronto
Brampton
['-', 'North Battleford', 'South Central Edmonton', '-', 'Prince George', '-', 'Red Deer', '-', '-', '-', 'North York', 'Napanee', '-', 'Ledbury - Heron Gate - Ridgemont - Elmwood', '-', 'York', '-', 'Dovercourt', 'Toronto', 'Brampton']

20

In [10]:
#Finding the price of cars using find_all
#All the price values are present in span class : _1J5RnjPtyBIs3xN7PgYve8
d = soup.find_all("div",{"class" :"_1J5RnjPtyBIs3xN7PgYve8"})

#taking an empty list
car_price = []
#printing all the separate price values using for loop
for i in d:
    price = i.find("span",{"class" :"_2zkxeQN7m4FOG4I3VDi6Ue _2vzukMZ1OuwuqTy7CPad-i mjWfW13SHgIHyZfo80E9P _3xSlJhtw8c66mKjEAmR5A"}).text.strip()#all the prices are inside a li class
    print(price) # printing values
    #appending values in a separate empty list
    car_price.append(price)    
print(car_price) #printing car price list
len(car_price) #length of car price list

$9,885
$46,393
$5,000
$6,999
$3,900
$6,600
$11,900
$8,700
$2,600
$2,600
$4,995
$18,495
$12,500
$11,000
$2,900
$2,200
$2,999
$8,400
$96,999
$48,500
['$9,885', '$46,393', '$5,000', '$6,999', '$3,900', '$6,600', '$11,900', '$8,700', '$2,600', '$2,600', '$4,995', '$18,495', '$12,500', '$11,000', '$2,900', '$2,200', '$2,999', '$8,400', '$96,999', '$48,500']

20

In [11]:
fuel_type = []
# taking empty list

#fuel type is inside li class: CHKTkxN--fPPouXAdU7EV DMyxB523aaKjukBpw8RVf
spec= soup.find_all("li",{"class": "CHKTkxN--fPPouXAdU7EV DMyxB523aaKjukBpw8RVf"})

for i in spec:
    if 'Gas' in i.text:
        fuel_type.append(i.text)
print(fuel_type)

['Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas', 'Gas']

In [12]:
#creating dict of scrapped data
dict = {
    'Title' : car_title ,
    'Mileage' : car_mileage , 
    'Location' : car_location ,  
    'Price ': car_price,
    'Fuel Type':fuel_type
}

In [13]:
#creating dataframe from dict
df = pd.DataFrame.from_dict(dict,orient = 'index').T
df

,Title,Mileage,Location,Price,Fuel Type
0,PROMOTED2006 Toyota 4-Runner Sport Edition,"394,100 km",-,"$9,885",Gas
1,PROMOTED2020 Chevrolet Traverse LT Cloth,New car,North Battleford,"$46,393",Gas
2,1992 Chevrolet S-10 Tahoe,"250,000 km",South Central Edmonton,"$5,000",Gas
3,2007 Ford F 150,"185,000 km",-,"$6,999",Gas
4,2003 Volkswagen Beetle,"187,000 km",Prince George,"$3,900",Gas
5,2014 Chrysler 200 LX,"63,777 km",-,"$6,600",Gas
6,2010 GMC Sierra 1500 SLT,"290,000 km",Red Deer,"$11,900",Gas
7,2013 Hyundai Elantra GT GLS,"107,000 km",-,"$8,700",Gas
8,2009 Infiniti G35x,"248,000 km",-,"$2,600",Gas
9,2003 Honda Pilot,"227,357 km",-,"$2,600",Gas
10,PROMOTED2011 GMC Acadia SLE *MONTH-END SPECIAL...,"195,450 km",North York,"$4,995",Gas
11,PROMOTED2020 Hyundai Elantra Preferred IVT,"9,428 km",Napanee,"$18,495",Gas
12,2014 Cadillac SRX,"140,000 km",-,"$12,500",Gas
13,1988 Mazda RX-7 Fc,"12,500 km",Ledbury - Heron Gate - Ridgemont - Elmwood,"$11,000",Gas
14,2008 Volkswagen Jetta se,"184,351 km",-,"$2,900",Gas
15,It runs very good condition,"115,600 km",York,"$2,200",None
16,2001 Toyota Sequoia,"400,000 km",-,"$2,999",None
17,2010 Acura TSX Techno;ogy Package,"232,000 km",Dovercourt,"$8,400",None
18,2017 Tesla Model X 90D / FULL SELF DRIVING / 2...,"58,510 km",Toronto,"$96,999",None
19,2018 Lexus RX,"32,606 km",Brampton,"$48,500",None

In [14]:
#Dataframe to csv
df.to_csv('kijijis_autos.csv')