In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from matplotlib import pyplot as plt

In [2]:
urla = input(("Enter url : ")) 
# "https://www.loeppkyauto.ca/vehicles/?fn=&pr=&mk=&md=&tr=&bs=&od=&yr=&v1=Passenger%20Vehicles&view=grid"

In [3]:
driver=webdriver.Firefox(executable_path="C:/Users/DELL/Downloads/geckodriver.exe")
#set the value of executable path
driver.get(urla)

In [4]:
page_source=driver.page_source

In [5]:
#parsing the page
soup=BeautifulSoup(page_source,'html.parser')

In [6]:
#All the data present in a page is present in class row grid-row
data=soup.findAll('div',{"class":"row grid-row"})
#printing the extracted data of a single page
for info in data:
    print(info.text)

        2017 Ford Escape SE    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $14,995
									+ Tax								  We analyzed similar vehicles in your area and calculated that this vehicle is priced lower than the average making it a Great Price.  Est. Finance Payment  $101
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 1FMCU0GDXHUE59224Kilometres: 102,000Condition: UsedBody Style: SUVEngine: 1.5
				View More Details
			   Compare     Compare          2018 Toyota Camry LE    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $18,995
									+ Tax								  We analyzed similar vehicles in your area and calculated that this vehicle is priced lower than the average making it a Great Price.  Est. Finance Payment  $128
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 4T1B11HK7JU601543Kilometres: 114,000Condition: UsedBody Style: SedanEngine: 2.5
				View More Details
			   Compare     Compare          2016 Ford Flex SEL    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $22,995
									+ Tax								  Est. Finance Payment  $176
										/bw
									  Click to open payment calculator
									5.99% for 72 Months								    VIN: 48643834Kilometres: 97,000Condition: UsedBody Style: OtherEngine: 3.5
				View More Details
			   Compare     Compare          2018 Acura MDX NAVI    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $38,995
									+ Tax								  Est. Finance Payment  $263
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 48643963Kilometres: 50,000Condition: UsedBody Style: OtherEngine: 3.5
				View More Details
			   Compare     Compare          2012 Acura MDX     View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $17,995
									+ Tax								  Est. Finance Payment  $199
										/bw
									  Click to open payment calculator
									6.99% for 48 Months								    VIN: 48774316Kilometres: 150,000Condition: UsedBody Style: OtherEngine: 3.7
				View More Details
			   Compare     Compare          2018 Jeep Grand Cherokee LIMITED 4x4 leather ...    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $32,995
									+ Tax								  Est. Finance Payment  $222
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 48891349Kilometres: 70,000Condition: UsedBody Style: OtherEngine: 3.6
				View More Details
			   Compare     Compare          2018 Ford Edge SEL AWD LEATHER    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $22,500
									+ Tax								  Est. Finance Payment  $151
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 48952386Kilometres: 115,000Condition: UsedBody Style: OtherEngine: 2.0
				View More Details
			   Compare     Compare          2015 Honda Accord touring    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $14,995
									+ Tax								  Est. Finance Payment  $115
										/bw
									  Click to open payment calculator
									5.99% for 72 Months								    VIN: 49060755Kilometres: 149,000Condition: UsedBody Style: SedanEngine: 2.4
				View More Details
			   Compare     Compare          2018 Buick Enclave Essence    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $31,995
									+ Tax								  Est. Finance Payment  $215
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 5GAEVAKWXJJ129133Kilometres: 82,000Condition: UsedBody Style: SUVEngine: 3.6
				View More Details
			   Compare     Compare          2018 Chrysler Pacifica L    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $19,995
									+ Tax								  Est. Finance Payment  $135
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 2C4RC1AG2JR131194Kilometres: 115,407Condition: UsedBody Style: MinivanEngine: 3.6
				View More Details
			   Compare     Compare          2017 Hyundai Elantra L    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $12,995
									+ Tax								  We analyzed similar vehicles in your area and calculated that this vehicle is priced lower than the average making it a Great Price.  Est. Finance Payment  $87
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 5NPD74LF2HH077813Kilometres: 52,000Condition: UsedBody Style: SedanEngine: 1.8
				View More Details
			   Compare     Compare          2017 Acura MDX Nav Pkg    View Pre-Owned Certification					  Pre-Owned Certification          Dealer Price  $34,995
									+ Tax								  We analyzed similar vehicles in your area and calculated that this vehicle is priced a bit lower than the average making it a Good Price.  Est. Finance Payment  $236
										/bw
									  Click to open payment calculator
									5.99% for 84 Months								    VIN: 5FRYD4H40HB500239Kilometres: 82,000Condition: UsedBody Style: SUVEngine: 3.5
				View More Details
			   Compare     Compare

In [7]:
#Finding the titles of cars using find_all
#All the titles are present in h4 class : vehicle-card__title
car_titles = []
a=soup.findAll('h4',{"class":"vehicle-card__title"})
for i in a :
    print(i.text)#printing titles
    car_titles.append(i.text)#appending values
print(car_titles)#printing titles
len(car_titles)#printing length of list

2017 Ford Escape SE
2018 Toyota Camry LE
2016 Ford Flex SEL
2018 Acura MDX NAVI
2012 Acura MDX
2018 Jeep Grand Cherokee LIMITED 4x4 leather ...
2018 Ford Edge SEL AWD LEATHER
2015 Honda Accord touring
2018 Buick Enclave Essence
2018 Chrysler Pacifica L
2017 Hyundai Elantra L
2017 Acura MDX Nav Pkg
['2017 Ford Escape SE', '2018 Toyota Camry LE', '2016 Ford Flex SEL', '2018 Acura MDX NAVI', '2012 Acura MDX ', '2018 Jeep Grand Cherokee LIMITED 4x4 leather ...', '2018 Ford Edge SEL AWD LEATHER', '2015 Honda Accord touring', '2018 Buick Enclave Essence', '2018 Chrysler Pacifica L', '2017 Hyundai Elantra L', '2017 Acura MDX Nav Pkg']

12

In [8]:
engine = []
body_style= []
condition = []
mileage = []
vin = []
# taking empty lists

spec= soup.findAll('ul',{"class":"detailed-specs"})#scrapping details

for i in spec:
    newsoup = BeautifulSoup(str(i),'html.parser')#using parser for scrapping inside details
    lis = newsoup.find_all('li')#finding all li inside ul
    for li in lis:
        
        if 'VIN' in li.text: #if present
            vin.append(li.text.replace("VIN:",""))#then append
        if 'Kilometres' in li.text:#if present
            mileage.append(li.text.replace("Kilometres:",""))#then append
        if 'Condition' in li.text:#if present
            condition.append(li.text.replace("Condition: ",""))#then append
        if 'Body Style' in li.text:#if present
            body_style.append(li.text.replace("Body Style:",""))#then append
        if 'Engine' in li.text:#if present
            engine.append(li.text.replace("Engine: ",""))#then append
        
#printing individual lists        
print(vin)
print(mileage)
print(condition)
print(body_style)
print(engine)

[' 1FMCU0GDXHUE59224', ' 4T1B11HK7JU601543', ' 48643834', ' 48643963', ' 48774316', ' 48891349', ' 48952386', ' 49060755', ' 5GAEVAKWXJJ129133', ' 2C4RC1AG2JR131194', ' 5NPD74LF2HH077813', ' 5FRYD4H40HB500239']
[' 102,000', ' 114,000', ' 97,000', ' 50,000', ' 150,000', ' 70,000', ' 115,000', ' 149,000', ' 82,000', ' 115,407', ' 52,000', ' 82,000']
['Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used']
[' SUV', ' Sedan', ' Other', ' Other', ' Other', ' Other', ' Other', ' Sedan', ' SUV', ' Minivan', ' Sedan', ' SUV']
['1.5', '2.5', '3.5', '3.5', '3.7', '3.6', '2.0', '2.4', '3.6', '3.6', '1.8', '3.5']

In [9]:
#Finding the car price  using find_all
#All the  car price are present in div class : price-block__price price-block__price--sm price-block__price--dark
car_price = []
c = soup.findAll('div',{"class":"price-block__price price-block__price--sm price-block__price--dark"})
for i in c :
    sp=i.find('span',{"convertus-data-id":"srp__dealer-price"}) #digging further
    print(sp.text)#printing car price
    car_price.append(sp.text)#appending in a list
print(car_price)#printing list
len(car_price)#length of list

$14,995
$18,995
$22,995
$38,995
$17,995
$32,995
$22,500
$14,995
$31,995
$19,995
$12,995
$34,995
['$14,995', '$18,995', '$22,995', '$38,995', '$17,995', '$32,995', '$22,500', '$14,995', '$31,995', '$19,995', '$12,995', '$34,995']

12

In [10]:
#Finding the discount of cars using find_all
#All the  discount  are present in div class : price-block__price price-block__price--sm price-block__price----primary
discount = []
c = soup.findAll('div',{"class":"price-block__price price-block__price--sm price-block__price--primary"})
for i in c :
    sp=i.find('span',{"class":"df aifs"})   #digging further
    print(sp.text)#printing discount 
    discount.append(sp.text)#appending in a list
print(discount)#printing list
len(discount)#length of list

$101
$128
$176
$263
$199
$222
$151
$115
$215
$135
$87
$236
['$101', '$128', '$176', '$263', '$199', '$222', '$151', '$115', '$215', '$135', '$87', '$236']

12

In [11]:
duration = [] #taking empty list
c = soup.findAll('div',{"class":"vehicle-card__price-wrap vehicle-card__price-wrap--finance"}) #all the duration are inside div class vehicle-card__price-wrap vehicle-card__price-wrap--finance
for i in c :
    s = i.find('span',{"class":"price-block__sub"}) #digging further
    print(s.text.strip())
    duration.append(s.text.strip()) #appending in list
print(duration) #prinitng list
len(duration) #length of list

5.99% for 84 Months
5.99% for 84 Months
5.99% for 72 Months
5.99% for 84 Months
6.99% for 48 Months
5.99% for 84 Months
5.99% for 84 Months
5.99% for 72 Months
5.99% for 84 Months
5.99% for 84 Months
5.99% for 84 Months
5.99% for 84 Months
['5.99% for 84 Months', '5.99% for 84 Months', '5.99% for 72 Months', '5.99% for 84 Months', '6.99% for 48 Months', '5.99% for 84 Months', '5.99% for 84 Months', '5.99% for 72 Months', '5.99% for 84 Months', '5.99% for 84 Months', '5.99% for 84 Months', '5.99% for 84 Months']

12

In [13]:
#creating dict of scrapped data
dict = {
    'Title' : car_titles,
    'VIN' : vin,
    'Mileage' : mileage,
    'Condition':condition,
    'Body Style':body_style,
    'Engine':engine,
    'Price':car_price,
    'Discount':discount,
    'Duration':duration
    
}

In [14]:
df = pd.DataFrame.from_dict(dict,orient = 'index').T
df

,Title,VIN,Mileage,Condition,Body Style,Engine,Price,Discount,Duration
0,2017 Ford Escape SE,1FMCU0GDXHUE59224,"102,000",Used,SUV,1.5,"$14,995",$101,5.99% for 84 Months
1,2018 Toyota Camry LE,4T1B11HK7JU601543,"114,000",Used,Sedan,2.5,"$18,995",$128,5.99% for 84 Months
2,2016 Ford Flex SEL,48643834,"97,000",Used,Other,3.5,"$22,995",$176,5.99% for 72 Months
3,2018 Acura MDX NAVI,48643963,"50,000",Used,Other,3.5,"$38,995",$263,5.99% for 84 Months
4,2012 Acura MDX,48774316,"150,000",Used,Other,3.7,"$17,995",$199,6.99% for 48 Months
5,2018 Jeep Grand Cherokee LIMITED 4x4 leather ...,48891349,"70,000",Used,Other,3.6,"$32,995",$222,5.99% for 84 Months
6,2018 Ford Edge SEL AWD LEATHER,48952386,"115,000",Used,Other,2.0,"$22,500",$151,5.99% for 84 Months
7,2015 Honda Accord touring,49060755,"149,000",Used,Sedan,2.4,"$14,995",$115,5.99% for 72 Months
8,2018 Buick Enclave Essence,5GAEVAKWXJJ129133,"82,000",Used,SUV,3.6,"$31,995",$215,5.99% for 84 Months
9,2018 Chrysler Pacifica L,2C4RC1AG2JR131194,"115,407",Used,Minivan,3.6,"$19,995",$135,5.99% for 84 Months
10,2017 Hyundai Elantra L,5NPD74LF2HH077813,"52,000",Used,Sedan,1.8,"$12,995",$87,5.99% for 84 Months
11,2017 Acura MDX Nav Pkg,5FRYD4H40HB500239,"82,000",Used,SUV,3.5,"$34,995",$236,5.99% for 84 Months

In [15]:
#Dataframe to csv
df.to_csv('loeppkauto.csv')